@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


*{
    background-color: blueviolet;
    color: white;
    padding: 20px 20px 20px 20px;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    font-family: play;
   
}
div.content{
    
    margin-bottom: 10px;
    width: 100%%;
}
a{
    width: 30%;
    height: 25%;
    background-color: rgb(64, 0, 255);
    color: #fff;
    margin-top: 20px;
    border-radius: 12px;
    margin-left: 7%;
    text-decoration: none;
}
h2{
    color: gold;
    width: 100%;
    position: relative;
}
h3{
 
    width: 100%;
    position: relative;
}
img{
    border-radius: 30%;
    width: 5%;
    height: 5%;
    margin-left: 7%;

}
@media (max-width: 850px) {
    *{
        background-color: blueviolet;
        color: white;
        padding: 20px 20px 20px 20px;
        width: 100%;
        text-align: center;
        line-height: 1.5em;
        font-family: play;
       
    }
    div.content{
        
        margin-bottom: 10px;
        width: 100%%;
    }
    a{
        width: 30%;
        height: 25%;
        background-color: rgb(64, 0, 255);
        color: #fff;
        margin-top: 20px;
        border-radius: 12px;
        margin-left: 7%;
        text-decoration: none;
    }
    h2{
        color: gold;
        width: 100%;
        position: relative;
    }
    h3{
     
        width: 100%;
        position: relative;
    }
    img{
        border-radius: 30%;
        width: 15%;
        height: 15%;
        
    
    }
    }
    @media (min-width: 851px) and (max-width: 1250px) {
        *{
            background-color: blueviolet;
            color: white;
            padding: 20px 20px 20px 20px;
            width: 100%;
            text-align: center;
            line-height: 1.5em;
            font-family: play;
           
        }
        div.content{
            
            margin-bottom: 10px;
            width: 100%%;
        }
        a.w3-button{
            width: 30%;
            height: 25%;
            background-color: rgb(64, 0, 255);
            color: #fff;
            margin-top: 20px;
            border-radius: 12px;
            margin-left: 80%;
           
            text-decoration: none;
        }
        h2{
            color: gold;
            width: 100%;
            position: relative;
        }
        h3{
         
            width: 100%;
            position: relative;
        }
        img{
            border-radius: 30%;
            width: 5%;
            height: 5%;
            margin-left: 7%;
        
        }
    }
    @media (min-width: 1251px) {
    body {
        *{
            background-color: blueviolet;
            color: white;
            padding: 20px 20px 20px 20px;
            width: 100%;
            text-align: center;
            line-height: 1.5em;
            font-family: play;
           
        }
        div.content{
            
            margin-bottom: 10px;
            width: 100%%;
        }
        a{
            width: 30%;
            height: 25%;
            background-color: rgb(64, 0, 255);
            color: #fff;
            margin-top: 20px;
            border-radius: 12px;
            margin-left: 7%;
            text-decoration: none;
        }
        h2{
            color: gold;
            width: 100%;
            position: relative;
        }
        h3{
         
            width: 100%;
            position: relative;
        }
        img{
            border-radius: 30%;
            width: 5%;
            height: 5%;
            margin-left: 7%;
        
        }
    }



