@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'play', Times New Roman;
 
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'play', Times New Roman;
    background-image: url('../images/backround image.png'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%; 
}


.container

{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    font-family: 'play', Times New Roman;
}

.container .left_Side

{
    position: relative;
    background: rgb(25, 2, 73);
    padding: 40px;
    font-family: 'play', Times New Roman;
}

.profileText 
{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
border-bottom: 1px solid rgba(255,255,255,0.2);
font-family: 'play', Times New Roman;
}

.profileText .imgBx 
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img

{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
font-family: 'play', Times New Roman;
}
.profileText h2

{
color: #fff;
font-size: 1.5em;
margin-top: 20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
line-height: 1.4em;
font-family: 'play', Times New Roman;
}

.profileText h2 span
{
font-size: 0.8em;
font-weight: 300;
font-family: 'play', Times New Roman;
}
.contactInfo
{
    padding-top: 40px;
    font-family: 'play', Times New Roman;

}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'play', Times New Roman;
}
.contactInfo ul
{
    position: relative;
    font-family: 'play', Times New Roman;
}

.contactInfo ul li
{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    font-family: 'play', Times New Roman;
}

.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #3cdbde;
    font-family: 'play', Times New Roman;

}

.contactInfo ul li span
{
    color: #fff;
    font-weight: 300;
    font-family: 'play', Times New Roman;
}

.contactInfo.education li
{
margin-bottom: 15px;
font-family: 'play', Times New Roman;
}

.contactInfo.education h5
{
color: #3cdbde;
font-weight: 500;
font-family: 'play', Times New Roman;
}

.contactInfo.education h4:nth-child(2)
{
color: #fff;
font-weight: 500;
font-family: 'play', Times New Roman;
}

.contactInfo.education h4
{
color: #fff;
font-weight: 300;
font-family: 'play', Times New Roman;
}

.contactInfo.language .percent
{
position: relative;
width: 100%;
height: 6px;
background: #081921;
display: block;
margin-top: 5px;
font-family: 'play', Times New Roman;
}

.contactInfo.language .percent div
{
position: absolute;
top: 0;
left: 0;
height: 100%;
background: #3cdbde;
font-family: 'play', Times New Roman;
}

.container .right_Side

{
    position: relative;
    background: #cbb9fe;
    padding: 40px;
    font-family: 'play', Times New Roman;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'play', Times New Roman;
}
p
{
color: #000000;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    font-family: 'play', Times New Roman;
}
.about .box .year_company
{
    min-width: 150px;
    font-family: 'play', Times New Roman;
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: rgb(25, 2, 73);
    font-weight: 600;
    font-family: 'play', Times New Roman;
}
.about .box .text h4
{
text-transform: uppercase;
color: rgb(55, 0, 174);
font-size: 16px;
font-family: 'play', Times New Roman;
}
.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    font-family: 'play', Times New Roman;
}
.skills .box h4
{
    text-transform: uppercase;
    color: rgb(25, 2, 73);
    font-weight: 500;
    font-family: 'play', Times New Roman;
}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
    font-family: 'play', Times New Roman;
}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(55, 0, 174);
    font-family: 'play', Times New Roman;
}
.interest ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: 'play', Times New Roman;
}
.interest ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
    font-family: 'play', Times New Roman;
}
.interest ul li .fa
{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
    font-family: 'play', Times New Roman;
}

@media (max-width: 1000px)
{
    *{
        -webkit-touch-callout: none;
    }
    body{
        -webkit-touch-callout: none;
    }
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul
    {
        grid-template-columns: repeat(2,1fr); 
    }
}

@media (max-width: 600px)
{
    *{
        -webkit-touch-callout: none;
    }
    body{
        -webkit-touch-callout: none;
    }
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company
    {
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr); 
    }
    .skills .box
    {
        grid-template-columns: repeat(1,1fr); 
    }
}