  @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
  *{
  border-radius: 10px;
  font-family: play;
  color: white;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;




}


a{
        font-style: normal;
}

a.w3-bar-item.w3-button.w3-padding-large img{
    border-radius: 0;
}

button.w3-bar-item.w3-button.w3-padding-large.w3-hide-small{
    text-transform: uppercase;
    color:#3cdbde;
}

button.w3-button.w3-section.w3-right{
    background-color: #3cdbde; 
    color:#280242; 
    border-radius: 10px; 
    padding: 30px;"
}
h3.w3-wide{
    font-style: normal;
}

div.w3-top{
      text-transform: uppercase;
}
div.w3-content{
    -webkit-touch-callout: none;
}
div.w3-bar.w3-card{
      text-transform: uppercase;

}

div.#band.w3-container.w3-content.w3-center.w3-padding-64{

}
a.w3-button{
        text-transform: uppercase;
    color:#3cdbde;
}
button.subnavbtn{
    text-transform: uppercase;
    color:#3cdbde;

}

body {font-family: "Play", sans-serif}
.mySlides {display: none}

  @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


a.w3-bar-item.w3-button.w3-padding-large.w3-hide-small{
          color: #3cdbde;
}


/* Thick darkcyan border */
hr {
  border: 1px solid darkcyan;
}

h2 {
    text-align: auto;
      text-transform: uppercase;
            color: #3cdbde;
}

h5 {
    font-family: play;
        font-style: normal;


}

p{
        font-style: normal;
}
h3 {
    font-family: play;
          text-transform: uppercase;
                color: #3cdbde;
            font-style: normal;
}
button.subnavbtn{
    color: yellow;
}
h4 {
    font-family: play;
        font-style: normal;
}


h5
{
    color: white;
    font-style: normal;
    text-transform: uppercase;
}
h4
{
    color: #333;
    font-weight: 500;
    margin: 5px 0;
        font-style: normal;

}
h2#contact.w3-wide.w3-center{
        font-style: normal;
}
div.w3-col.m6.w3-large.w3-margin-bottom{
        font-style: normal;
}
button.w3-bar-item.w3-button.w3-padding-large.w3-hide-small{
    background-color: transparent;
}

p.w3-justify{
    background-color: #3cdbde; 
    color:#280242; 
    border-radius: 10px; 
    padding: 30px;"
}
p.w3-button{
    background-color: #3cdbde; 
    color:#280242; 
    border-radius: 10px; 
    padding: 30px;"
}

h6
{
    color: #deeb34;
    font-weight: 300;
    font-size: 1em;
        font-style: normal;
}

div.videocont{
    width: 80%;
    margin: 80px auto;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.feature-img{
    width: 90%;
    margin-left: 15px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.small-img-row{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 120%;
    height: 110px;
}
.big-img-row{
    display: flex;
    background: #efefef;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
        width: 110%;
        height: 370px;
    margin-left: -20%;
    position: relative;



}
.small-img{
    position: relative;
    margin-left: 3px;
}
.small-img img{
    width: 150px;
}
.small-img-row p{
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 15px;
}

.container .contentBox h3
{
    border-left: 4px solid #ff8bb3;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}
.Language .percent
{
  position: relative;
  width: 90%;
  background: #deeb34;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}
.Language .percent div
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; 
  background: #deeb34;
}


.righSide
{
    padding-left: 40px;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.about .box .year_company
{
    min-width: 100px;
    margin-bottom: 10px;
}
.about .box .year_company h5
{
    color: #333;
    font-weight: 100;
}
.about .box .year_company h5:nth-child(1)
{
    color: #deeb34;
}
.about .box .text h4
{
    color:#deeb34;
    font-size: 16px;
    margin: 0;
}
.about.skills .box 
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.about.skills .box h4
{
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}
.about.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10%;
    background: #e3e3e3;
    border-radius: 10px;
}
.about.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3cdbde;
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: transparent;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  width: 120px;
  background-image: url('../images/transparent.png')
}

/* Add a  background image to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-image: url('../images/transparent.png');
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
div.w3-dropdown-content.w3-bar-block.w3-border{
   background-color: rebeccapurple;
   color: white;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}



div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.img-gallery{
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 30px;
}
.img-gallery img{
  width: 100%;
  cursor: pointer;
}
.img-gallery img:hover{
  transform: scale(0.8) rotate(-15deg);
  border-radius: 10px;
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.full-img{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
    border-radius: 0;
}
.full-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}






@media (max-width: 952px){

div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}
img {
    -webkit-touch-callout: none;
}


}

@media (max-width: 858px){

div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}
img {
    -webkit-touch-callout: none;
}



}
@media (max-width: 896px){


div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}
img {
    -webkit-touch-callout: none;
}

}
@media (max-width: 1024px){

div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}
img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 1180px){

div.w3-content{

 background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}

img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 1366px){

div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}


img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 1368px){

div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}

img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 653px){


div.w3-content{

 background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}

img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 914px){

div.w3-content{

 background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}


img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 1024px){


div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}

img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 600px){

div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}

img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 677px){


div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}

img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 768px){


div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}
img {
    -webkit-touch-callout: none;
}
}
@media (max-width: 280px){

div.w3-content{

  background-color: transparent;
    -webkit-touch-callout: none;
}
div#band.w3-container.w3-content.w3-center.w3-padding-64{
    background-color: #16042b;
}
img {
    -webkit-touch-callout: none;
}
}


